[toolchain]
anchor_version = "0.32.1"

[features]
resolution = true
skip-lint = false

[programs.localnet]
sss_forge = "HvCAF5etBJu3TqF8GwBQZLXozMjSkKMNn3xywtpQmaKJ"

[programs.devnet]
sss_forge = "HvCAF5etBJu3TqF8GwBQZLXozMjSkKMNn3xywtpQmaKJ"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
